body{
	padding: 0;
	margin: 0;
	background-color: #fff4d5;
}
.maptitle{
	text-align: center;
	margin: 20px 0 15px 0;
}
.mapwrap-title{
	position: absolute;
	top:20px;
	left: -100px;
}
.mapwrap-title img, .mapwrap-title-1 img{
	width: 50%;
}
.mapwrap-title-1{
	position: absolute;
	top:20px;
	left: 800px;
}
.titledx{
	font-size: 30px;
	font-weight: bold;
}
.mapwrap{
	width: 1100px;
	/* margin: 0 auto; */
	position: relative;
	margin-top: 30px;
	box-sizing: border-box;
}
.mapwrap-1{
	position: relative;
	box-sizing: border-box;
}
.mapwrap-1 img{
	width: 70%;
}
.place{
	position: absolute;
	display: block;
}
.changyi{
	top:49px;
	left:491px;
	z-index: 98;
	width: 140px;
	height:297px;
	background: url(../images/changyi.png);
	background-size: 100% 100%;
}
/* .changyi:hover{
	background: url(../images/changyi1.png);
} */
.hanting{
	top:-14px;
	left:380px;
	z-index: 99;
	width: 189px;
	height:241px;
	background: url(../images/hantingqu.png);
	background-size: 100% 100%;
}
/* .hanting:hover{
	background: url(../images/hantingqu1.png);
} */
.kuiwei{
	top:208px;
	left:451px;
	z-index: 107;
	width: 71px;
	height:66px;
	background: url(../images/kuiweiqu.png);
	background-size: 100% 100%;
}
/* .kuiwei:hover{
	background: url(../images/kuiweiqu1.png);
} */
.fangzi{
	top:216px;
	left: 440px;
	z-index: 106;
	width: 173px;
	height:197px;
	background: url(../images/fangziqu.png);
	background-size: 100% 100%;
}
/* .fangzi:hover{
	background: url(../images/fangziqu1.png);
} */
.gaomi{
	top:238px;
	left:567px;
	z-index: 103;
	width: 195px;
	height:231px;
	background: url(../images/gaomi.png);
	background-size: 100% 100%;
}
/* .gaomi:hover{
	background: url(../images/gaomi1.png);
} */
.zhucheng{
	top:409px;
	left:424px;
	z-index: 103;
	width: 249px;
	height:243px;
	background: url(../images/zhucheng.png);
	background-size: 100% 100%;
}
/* .zhucheng:hover{
	background: url(../images/zhucheng1.png);
} */
.weicheng{
	top:180px;
	left:398px;
	z-index: 105;
	width: 60px;
	height:100px;
	background: url(../images/weicheng.png);
	background-size: 100% 100%;
}
/* .weicheng:hover{
	background: url(../images/weicheng1.png);
} */
.changle{
	top:198px;
	left:323px;
	z-index: 104;
	width: 160px;
	height:215px;
	background: url(../images/changle.png);
	background-size: 100% 100%;
}
/* .changle:hover{
	background: url(../images/changle1.png);
} */
.anqiu{
	top:293px;
	left:331px;
	z-index: 103;
	width: 244px;
	height:201px;
	background: url(../images/anqiu.png);
	background-size: 100% 100%;
}
/* .anqiu:hover{
	background: url(../images/anqiu1.png);
} */
.shouguang{
	top:-24px;
	left:262px;
	z-index: 98;
	width: 200px;
	height:250px;
	background: url(../images/shouguang.png);
	background-size: 100% 100%;
}
/* .shouguang:hover{
	background: url(../images/shouguang1.png);
} */
.qingzhou{
	top:120px;
	left:136px;
	z-index: 103;
	width: 210px;
	height:240px;
	background: url(../images/qingzhou.png);
	background-size: 100% 100%;
}
/* .qingzhou:hover{
	background: url(../images/qingzhou1.png);
} */
.linqu{
	top:263px;
	left:157px;
	z-index: 103;
	width: 207px;
	height:240px;
	background: url(../images/linqu.png);
	background-size: 100% 100%;
}
/* .linqu:hover{
	background: url(../images/linqu1.png);
} */
.img-thumbnail{
  transition: all 0.6s;  
}
.img-thumbnail:hover{
    /* opacity: 0.7; */
	transform: scale(1.1);  
}

.wzbtn{
	padding: 3px 5px;
	background-color: #e65124;
	border: 2px solid #ffffff;
	border-radius: 6px 6px;
	font-size: 10px !important;
	color:#ffffff;
	font-weight: bold;
}
.cylsly{
	position: absolute;
	top:78px;
	left:566px;
	z-index: 101;
}
.cykrlsc{
	position: absolute;
	top:160px;
	left:507px;
	z-index: 101;
}
.mqc{
	position: absolute;
	top:312px;
	left:516px;
	z-index: 101;
}
.xyzhdc{
	position: absolute;
	top:214px;
	left:207px;
	z-index: 101;
}
.bzxdc{
	position: absolute;
	top:253px;
	left:219px;
	z-index: 101;
}
.htzyzhb{
	position: absolute;
	top:110px;
	left:423px;
	z-index: 101;
}
.wnxwjz{
	position: absolute;
	top:242px;
	left:527px;
	z-index: 108;
}
.wfgmlsly{
	position: absolute;
	top:200px;
	left:461px;
	z-index: 108;
}
.zljgj{
	position: absolute;
	top:521px;
	left:609px;
	z-index: 108;
}
.sglsly{
	position: absolute;
	top:68px;
	left:230px;
	z-index: 108;
}
.sgtlcjz{
	position: absolute;
	top:94px;
	left:210px;
	z-index: 108;
}
.qzbd{
	position: absolute;
	top:149px;
	left:200px;
	z-index: 108;
}
.qzdzl{
	position: absolute;
	top:179px;
	left:254px;
	z-index: 108;
}
.qzlsly{
	position: absolute;
	top:248px;
	left:130px;
	z-index: 108;
}
.wxdxjyjd{
	position: absolute;
	top:224px;
	left:387px;
	z-index: 108;
}
.clgmclg{
	position: absolute;
	top:257px;
	left:254px;
	z-index: 108;
}
.clhsbwg{
	position: absolute;
	top:290px;
	left:354px;
	z-index: 108;
}
.aqlsly{
	position: absolute;
	top:341px;
	left:444px;
	z-index: 108;
}
.aqcxh{
	position: absolute;
	top:378px;
	left:475px;
	z-index: 108;
}
.aqhsb{
	position: absolute;
	top:449px;
	left:377px;
	z-index: 108;
}
.lqzjl{
	position: absolute;
	top:329px;
	left:160px;
	z-index: 108;
}
.lqlsly{
	position: absolute;
	top:350px;
	left:229px;
	z-index: 108;
}
.gmhgl{
	position: absolute;
	top:335px;
	left:715px;
	z-index: 108;
}
.gmlsly{
	position: absolute;
	top:358px;
	left:600px;
	z-index: 108;
}
.zcwjm{
	position: absolute;
	top:490px;
	left:500px;
	z-index: 108;
}
.zclsly{
	position: absolute;
	top:535px;
	left:568px;
	z-index: 108;
}
.zcbxq{
	position: absolute;
	top:548px;
	left:430px;
	z-index: 108;
}

.gmjz{
	width: 66px;
	height: 57px;
	position: absolute;
	top:200px;
	left:521px;
	z-index: 106;
}
.gmjz img{
	width: 30px;
}
.anqiuta{
	position: absolute;
	top:600px;
	right:446px;
	z-index: 106;
}

.ymlink{
	padding: 3px 10px;
	background-color: #e65124;
	border: 2px solid #ffffff;
	border-radius: 6px 6px;
	font-size: 16px;
	color:#ffffff;
	font-weight: bold;
	text-decoration: none;
}
.ymlink:hover{
	background-color: #e9bb00;
	text-decoration: none;
}
.linka a:link{
	text-decoration: none;
}
.linka a:hover{
	text-decoration: none;
	background: #FFF4D5;
}
.cy-lsly{
	position: absolute;
	top:325px;
	right:513px;
	z-index: 108;
}
.cy-lsc{
	position: absolute;
	top:292px;
	left: 195px;
	z-index: 108;
}
.cy-mqc{
	position: absolute;
	top:355px;
	left: 256px;
	z-index: 108;
}
.cy-hdc{
	position: absolute;
	top:338px;
	right:163px;
	z-index: 108;
}
.cy-xdc{
	position: absolute;
	top:407px;
	right:257px;
	z-index: 108;
}
.ht-zyzhb{
	position: absolute;
	top:325px;
	right:631px;
	z-index: 108;
}
.sg-lsly{
	position: absolute;
	top:195px;
	left:343px;
	z-index: 108;
}
.sg-cjz{
	position: absolute;
	top:242px;
	left:237px;
	z-index: 108;
}
.kw-lsly{
	position: absolute;
	top:265px;
	right:188px;
	z-index: 108;
}
.kw-zlj{
	position: absolute;
	top:153px;
	left:303px;
	z-index: 108;
}
.fz-wnxwjz{
	position: absolute;
	top:135px;
	right:230px;
	z-index: 108;
}
.gm-lsly{
	position: absolute;
	top:393px;
	right:258px;
	z-index: 108;
}
.gm-hgl{
	position: absolute;
	top:344px;
	right:579px;
	z-index: 108;
}
.wc-jyjd{
	position: absolute;
	top:214px;
	right:260px;
	z-index: 108;
}
.cl-bhzl{
	position: absolute;
	top:146px;
	right:457px;
	z-index: 108;
}
.cl-bwg{
	position: absolute;
	top:237px;
	right:342px;
	z-index: 108;
}
.qz-lsly{
	position: absolute;
	top:198px;
	right:684px;
	z-index: 108;
}
.qz-bdc{
	position: absolute;
	top:60px;
	right:338px;
	z-index: 108;
}
.qz-zlc{
	position: absolute;
	top:115px;
	right:45px;
	z-index: 108;
}
.lq-lsly{
	position: absolute;
	top:160px;
	right:240px;
	z-index: 108;
}
.lq-zjl{
	position: absolute;
	top:57px;
	right:570px;
	z-index: 108;
}
.zc-lsly{
	position: absolute;
	top:300px;
	left:220px;
	z-index: 108;
}
.zc-wjm{
	position: absolute;
	top:280px;
	left:530px;
	z-index: 108;
}
.zc-bxsq{
	position: absolute;
	top:170px;
	left:170px;
	z-index: 108;
}
.aq-lsly{
	position: absolute;
	top:150px;
	right:90px;
	z-index: 108;
}
.aq-cxh{
	position: absolute;
	top:110px;
	right:180px;
	z-index: 108;
}
.aq-hsbp{
	position: absolute;
	top:110px;
	left:160px;
	z-index: 108;
}
.return{
	display: block;
	width: 60px;
	text-align: center;
	background-color: #e65124;
	border-radius: 30px;
	padding: 4px 10px;
	color: #fff;
	position: absolute;
	top:30px;
	right:50px;
	z-index: 9999;
}
